[data-component="auto-scroll"] {
	scrollbar-width: none;
	-ms-overflow-style: none;
	transition: all 0.5s ease;
}

[data-component="auto-scroll"][data-scrollable="true"] {
	cursor: grab;
}

[data-scroll-axis="x"] {
	--gradient-to: right
}
[data-scroll-visibility="end"][data-scroll-axis="x"] {
	--gradient-to: left
}
[data-scroll-axis="y"] {
	--gradient-to: bottom
}
[data-scroll-visibility="end"][data-scroll-axis="y"] {
	--gradient-to: top
}

[data-component=auto-scroll][data-scroll-visibility=start] {
    mask-image: linear-gradient(to var(--gradient-to), black 70%, transparent 98%);
}

[data-component=auto-scroll][data-scroll-visibility=middle] {
    mask-image: linear-gradient(to var(--gradient-to), transparent 5%, black 30%, black 70%, transparent 98%);
}

[data-component="auto-scroll"][data-scroll-visibility="end"] {
	mask-image: linear-gradient(to var(--gradient-to), black 70%, transparent 98%);
}